.opencode/*
!.opencode/opencode.jsonc
!.opencode/agents/
!.opencode/agents/*.md
!.opencode/prompts/
!.opencode/prompts/*.md
.opencode/node_modules/
.opencode/bun.lock
.opencode/package.json
.vscode
.idea
.ruff_cache
.gemini
.zed
.opencode
client/src/gen