
# SonarQube
# Get your token from: http://localhost:9000/account/security (LOCAL ONLY)
SONAR_TOKEN=sqa_6b2a8495624aee7f9e49dd24b9dbc146fd1a52ba
SONAR_PROJECT_KEY=aprimorar-server

#Database
DB_USERNAME=myuser
DB_PASSWORD=mypassword

#Application
APP_ADMIN_USERNAME=admin@aprimorar.com
APP_ADMIN_PASSWORD=Freerider
APRIMORAR_ADMIN_ID=b3a092e0-fc48-43ff-8b35-149eb81a033f
APRIMORAR_GHOST_COLABORADOR_ID=00000000-0000-4000-8000-000000000001
APRIMORAR_GHOST_STUDENT_ID=00000000-0000-4000-8000-000000000002
